body {
  background-color: lightgray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  color: rgb(49, 59, 49);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Notification__container {
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  left: 1.2rem;
  text-align: center;
  font-size: 14px;
  padding: 12px;
  border-radius: 12px;
}
.Notification__container--error {
  color: red;
  background-color: rgb(218, 208, 208);
  border: solid 1px red;
}
.Notification__container--success {
  color: rgb(68, 100, 88);
  background-color: rgb(194, 213, 191);
  border: solid 1px rgb(0, 255, 166);
}

.Blog {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border: solid 1px rgb(160, 159, 159);
  border-radius: 8px;
  padding: 1.2rem;
  margin-bottom: 0.8rem;
}
.Blog__details {
  border: solid 1px rgb(190, 190, 190);
  border-radius: 8px;
  margin-bottom: 1.2rem;
  padding: 0.4rem;
}